.slide-3 {
    /* display: none; */
}

.popular {
    width: 1160;
}

.popular-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.temp {
    width: 160px;
    height: 160px;
    
    
    background-color: rgba(240, 197, 46, 0.3);
}

.temp img{
    margin-top: calc(50% - (height/2));
    margin-left: calc(50% - 49px);
    /* opacity: 0.3; */
}